/* Browser style reset */
*, *::after, *::before {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color palette */
body {
    --detail-color: #C5322D;
    --primary-color: #F1F1F1; 
    --secondary-color: #888888;
    --tertiary-color:  #1B1B1B;
    --bg-color: #101010;   
}

/* Layout */
body {
    --clock-height: calc(100vh / 3);
    --seconds-hand-height: calc(var(--clock-height) / 20);
    --minute-hand-radius: calc(var(--seconds-hand-height) / 2);
    --hours-hand-height: calc(var(--seconds-hand-height) * 3 );
}

/* Flex class*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Initial style for the body */ 
body {
    background-color: var(--bg-color);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}

/* Clock Style */
.clock {
    height: var(--clock-height);
    aspect-ratio: 1/1;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    position: relative;
}

.seconds,
.minutes,
.hours {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.minutes {
    z-index: 2;
}

.hand {
    position: absolute;
    top:50%;
    left:50%;
}

.seconds .hand{
    height: var(--seconds-hand-height);
    aspect-ratio: 1/1;
    background-color: var(--detail-color);
    border-radius: var(--minute-hand-radius);
    left:100%;
    transform: translate(-100%, -50%);
}

.minutes .hand{
    height: var(--seconds-hand-height);
    width: 42%;
    background-color: var(--secondary-color);
    border-radius: var(--minute-hand-radius);
    transform: translate(0, -50%);
}

.hours .hand{
    height: var(--hours-hand-height);
    width:35%;
    border-radius: calc(var(--hours-hand-height) / 2);
    background-color: var(--primary-color);
    transform: translate(-20%, -50%);
}

/* Animations */

 body {
    --total-duration: 120s;
    --seconds-duration: calc(var(--minutes-duration) / 6); 
    --minutes-duration: calc(var(--hours-duration) / 6);
    --hours-duration: calc(var(--total-duration)* 2.4);
}

.seconds {
    animation: rotate var(--seconds-duration) linear infinite;
}

.minutes {
    animation: rotate var(--minutes-duration) linear infinite;
}

.hours {
    animation: rotate var(--hours-duration) linear infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 