/* Browser style reset */
*, *::after, *::before {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color palette */
body {
    --detail-color: #C5322D;
    --primary-color: #F1F1F1; 
    --secondary-color: #888888;
    --tertiary-color:  #1B1B1B;
    --bg-color: #101010;   
}

/* Flex class*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Initial style for the body */ 
body {
    background-color: var(--bg-color);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}

/* Clock Style */
.clock {
    height: 33%;
    aspect-ratio: 1/1;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    position: relative;
}

.seconds,
.minute,
.hours {
    height: 100%;
    width: 100%;
    position: absolute;
}

.hand {
    position: absolute;
    top:50%;
    left:50%;
}

.seconds .hand{
    height: 5%;
    aspect-ratio: 1/1;
    background-color: var(--detail-color);
    border-radius: 50%;
    top:0;
    transform: translate(-50%, 0);
    z-index: 3;
}

.minutes .hand{
    height: 5%;
    width: 42%;
    background-color: var(--secondary-color);
    transform: translate(0, -50%);
    z-index: 2;
}

.hours .hand{
    height: 20%;
    width:35%;
    background-color: var(--primary-color);
    transform: translate(-20%, -50%);
    z-index: 1;
}

.seconds {
    transform: rotate(90deg);
}
