/* Browser style reset */
*, *::after, *::before {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flex class*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Initial style for the body */ 
body {
    background-color: black;
    /* color: black; */
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #101010;
}

.clock {
    height: 33%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
    position: relative;
}

.seconds {
    height: 5%;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    top:0;
    left: 50%;
}
